.blog-card {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.blog-card-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--text-color);
}

.blog-card-meta {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.blog-card-date {
  color: var(--text-color);
  margin-right: 20px;
}

.blog-card-categories {
  color: var(--secondary-text);
}

.blog-card-description {
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondary-text);
  margin: 0;
}